@charset "utf-8";
@font-face {                
    font-family: "나눔고딕";
    src: local("나눔고딕"), url("font/NanumGothic.woff"), url("font/NanumGothic.eot"), url("font/NanumGothic.ttf");
}

body,header,footer,div,address,nav,h1,h2,h3,h4,ul,li,a,img,p,ol,input,span{margin: 0; padding: 0; border: 0;}
body{font-family: "나눔고딕", NanumGothic, Dotum, "돋움", "맑은 고딕", DroidSans, AppleGothic, AppleSDGothicNeo, Helvetica, HelveticaNeue,  sans-serif; font-size: 12px; color: #373431;}
input{font-size: 12px; color: #373431;}
li{list-style: none;}
address{font-style: normal;}
img{vertical-align: middle;}
.blind{display: block;  position: absolute;top: -1000em; left: 0; overflow: hidden; }
